{{#if (and dialogs.type dialogs.backdrop)}}
  {{liquid-wormhole
    stack = 'ember-dialogs-backdrop'
    click = (action 'backdrop')

    class = (concat
      'ember-dialogs-backdrop '
      (if dialogs.backdropClickable '-ember-dialogs-clickable ' '')
    )
  }}
{{/if}}{{! and dialogs.type dialogs.backdrop }}



{{#if dialogs.type}}
  {{#liquid-tether
    stack = 'ember-dialogs-dialogTether'
    class = 'ember-dialogs-dialogTether'
    value = 'alert'

    target         = 'document.body'
    targetModifier = 'visible'
    attachment     = 'middle center'
  }}
    {{#if hasBlock}}
      {{yield (hash
        message = dialogs.message
        type    = dialogs.type

        labelOk  = dialogs.labelOk
        actionOk = (action dialogs.actionOkWrapped)

        labelCancel   = dialogs.labelCancel
        actionCancel  = (action dialogs.actionCancelWrapped)
        cancelVisible = dialogs.cancelVisible

        shouldDisplayCancel = (or
          (eq dialogs.type 'confirm')
          (and
            (eq dialogs.type 'prompt')
            dialogs.cancelVisible
          )
        )

        value       = dialogs.value
        userInput   = dialogs.userInput
        placeholder = dialogs.placeholder
      )}}
    {{else}}{{! hasBlock }}
      <div class = "ember-dialogs-dialog">

        {{#if dialogs.message}}
          <div class = "ember-dialogs-dialog-message">
            {{dialogs.message}}
          </div>{{! ember-dialogs-dialog-message }}
        {{/if}}{{! dialogs.message }}

        {{#if (eq dialogs.type 'prompt')}}
          {{input
            class       = 'ember-dialogs-dialog-input'
            value       = dialogs.userInput
            placeholder = dialogs.placeholder
            enter       = (action dialogs.actionOkWrapped dialogs.userInput)
          }}
        {{/if}}

        <div class = "ember-dialogs-dialog-buttons">
          <button
            class = "ember-dialogs-dialog-button -ember-dialogs-ok"
            {{action dialogs.actionOkWrapped dialogs.userInput}}
          >
            {{dialogs.labelOk}}
          </button>

          {{#if (or
            (eq dialogs.type 'confirm')
            (and
              (eq dialogs.type 'prompt')
              dialogs.cancelVisible
            )
          )}}
            <button
              class = "ember-dialogs-dialog-button -ember-dialogs-cancel"
              {{action dialogs.actionCancelWrapped}}
            >
              {{dialogs.labelCancel}}
            </button>
          {{/if}}
        </div>{{! ember-dialogs-dialog-buttons }}
      </div>{{! ember-dialogs-dialog }}
    {{/if}}{{! hasBlock }}
  {{/liquid-tether}}
{{/if}}{{! dialogs.type }}