<h2>alert test</h2>

<p>
  value:

  <span class = "route-index-alertValue">
    {{alertValue}}
  </span>
</p>

<button
  class = "route-index-alertTrigger"
  {{action (alert
    message  = (concat "Value will be toggled from " alertValue " to " (not alertValue) ".")
    labelOk  = 'Yup'
    actionOk = (toggle 'alertValue' this)
  )}}
>
  Toggle value
</button>



<h2>confirm test</h2>

<p>
  value:

  <span class = "route-index-confirmValue">
    {{confirmValue}}
  </span>
</p>

<button
  class = "route-index-alertTrigger"
  {{action (confirm
    message      = (concat "Wanna change the value from " confirmValue " to " (not confirmValue) "?")
    labelOk      = 'Yup'
    labelCancel  = 'Nah'
    actionOk     = (toggle 'confirmValue' this)
  )}}
>
  Toggle value
</button>



<h2>prompt test</h2>

<p>
  value:

  <span class = "route-index-promptValue">
    {{promptValue}}
  </span>
</p>

<button
  class = "route-index-alertTrigger"
  {{action (prompt
    message      = 'Type in a new value'
    labelOk      = 'Yup'
    labelCancel  = 'Nah'
    value        = promptValue
    placeholder  = 'Please type something'

    actionOk     = (action (mut promptValue))
  )}}
>
  Toggle value
</button>